.text-invalid {
	color: red;
	font-size: 13px;
	width: 100%;
}

.text-valid {
	color: #28a745;
	font-size: 13px;
	width: 100%;
}

.page-item.active .page-link {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff !important;
}

.page-link {
	color: #6c757d !important;
}

.btn-purple {
	background-color: #605ca8 !important;
	color: #fff !important;
}