.nav-link {
	font-weight: 700;
}

li a {
	color: #28a745;
}

li a:hover {
	color: #f7a516;
}

.page-item a {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #28a745;
	background-color: #fff;
	border: 1px solid #dee2e6;
	font-weight: 500;
}

.page-item a.active {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #ffffff;
	background-color: #009420;
	border: 1px solid #dee2e6;
	font-weight: 500;
}